@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500&display=swap');

:root {
    --white: #edf0f1;
    --black: #1b1919;
    --blue: #5eaaff;
    --purple: #a155ff;
    --green: #2ee5af;
    --orange: #fcb72f;
  }

html {
    background-color: var(--black);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
}
.container {
    background-color: transparent;
}
.section-header {
    font-family: filson-soft, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
}

.about-me {
    color: var(--green);
}

.education {
    color: var(--blue);
}

.projects {
    color: var(--purple);
}

/* scrollbar adjustments */

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--black);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--white);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }

/* navbar section */

li, a, button {
    font-family: filson-soft, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    background-color: transparent;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    transition: 0.6s;
    z-index: 100000;
    background-color: transparent;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
    background-color: transparent;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a.about-me-link:hover {
    transition: all 0.3s ease 0s;
    color: var(--green);
}

.nav-links li a.education-link:hover {
    transition: all 0.3s ease 0s;
    color: var(--blue);
}

.nav-links li a.projects-link:hover {
    transition: all 0.3s ease 0s;
    color: var(--purple);
}

.sticky {
    background: linear-gradient(to top, transparent 0%, black 100%);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

/* home section */

.home-section {
    max-width: 1090px;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-img {
    height: 50%;

}

h1 {
    font-family: filson-soft, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 9rem;
}

/* about me section */
#about-me{
    height: fit-content;
}

.box {
    display: flex;
    justify-content:space-evenly;
}

#about-me ::-webkit-scrollbar-thumb {
    background-color: var(--green);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.about-me-box {
    padding: 10px;
    border: 3px solid var(--green);
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
}

.about-me-box-content {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow:scroll;
    overflow-x: scroll;
}

.about-me-box-content p {
    font-family: 'Source Code Pro', monospace;

}

.fun-facts {
    height: 60vh;
    width: 35%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.slider {
    overflow: hidden;
    position: relative;
    height: 80%
    
}

.slides {
    width: 500%;
    display: flex;
    position: relative;
}

.slides input{
    display:none;
}

.slide{
    width:20%;
    transition: 2s;
    font-family: filson-soft, sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 100%;
    text-align: center;
}

.slide-pic {
    width: 80%;
}

.slide p {
    color: var(--green);
    bottom: 0;
}

.navigation-manual {

    width: 100%;
    display: flex;
    justify-content: center;
    
}

.manual-btn{
    border: 2px solid var(--green);
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: var(--green);

}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position:absolute;
    /*display: flex;*/
    display: none;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid var(--green);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.purple {
    color: var(--purple);
}

.green {
    color: var(--green);
}

.orange {
    color: var(--orange);
}

.blue {
    color: var(--blue);
}

/* education section */
#education {
    
}

.education-box {
    background-color: var(--blue);
    width: 800px;
    padding: 5%;
    margin: auto;
    border-radius: 20px;
    align-content: center;
    overflow: hidden;
}

.education-content {
    width: 600px;
    border-radius: 20px;
    margin: auto;
}

.education-content p {
    background-color: #5eaaff;
    color: var(--black);
    font-family: filson-soft, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.education-content p span{
    margin: 0 0 0 auto;
    background-color: #5eaaff;
    color: var(--black);
    font-family: filson-soft, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.edu-content-header {
    text-align: right;
}

/* projects section */
.project-btn{
    border: 2px solid var(--purple);
    padding: 5px 10px;
    margin: 10px 4px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
    font-family: filson-soft, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--purple);
}

.project-radios {
    display: none;
}

.project-radio-labels {
    text-align: center;
}

.project-gallery {
    margin: 40px;
}

.project-cards {
    max-width: 1090px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: auto;
}

.project-card {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: var(--purple);
    float: left;
}